.area {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 219px;
}

.cover {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 10px;
  overflow: hidden;
  color: rgba(255, 255, 255, 1);
  box-shadow: var(--card-box-shadow);
}

.description {
  width: calc(var(--card-width) - 170px);
  height: 170px;
  padding: 20px;
  color: rgba(0, 0, 0, 1);
}

.albumArt {
  width: 100%;
  height: 100%;
}

.Info {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: var(--card-background-color);
  text-shadow: var(--card-text-shadow);
  box-shadow: var(--card-box-shadow);
}

.artist,
.album {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.8);
}
.playButton {
  opacity: var(--card-hover-default-opacify);
  position: absolute;
  top: calc(50% - (var(--card-playButton-size) / 2));
  left: calc(50% - (var(--card-playButton-size) / 2));
  width: var(--card-playButton-size);
  height: var(--card-playButton-size);
  border: 0;
  background: none;
  color: rgba(255, 255, 255, 1);
}

.playButton:hover {
  opacity: var(--card-hover-opacify);
  transition: var(--card-hover-transition);
}

.playButton > img {
  width: 100%;
  height: 100%;
}

.trackInfo {
  margin-top: 5px;
}

.trackInfo > .title {
  font-size: 0.875rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.trackInfo > .artists {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
}