.area {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

.audioElement {
  display: none;
  /* position: absolute;
  top: -70px; */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.track,
.controls,
.extraControls {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
}

.track {
  margin: 18px 0;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: clip;
}

.track .albumArt,
.track .trackInfo {
  display: inline-block;
  vertical-align: middle;
}

.track .albumArt {
  width: 64px;
  height: 64px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 1);
}

.trackInfo {
  font-weight: 300;
  line-height: 64px;
}

.trackInfo .title,
.trackInfo .artist {
  line-height: initial;
}

.trackInfo .title {
  font-size: 1rem;
}

.trackInfo .artist {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}

.trackInfo .artist span {
  margin-right: 5px;
}

.controls {
  text-align: center;
} 

.buttons {
  margin-bottom: 16px;
}

.buttons button{
  width: 38px;
  height: 38px;
  color: rgba(255, 255, 255, 1);
  padding: 0px;
  border: 0;
  background: none;
  margin: 0 16px;
  vertical-align: top;
}

.buttons button > img {
  width: 100%;
  height: 100%;
}

.playbackProgress {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}

.currentTime,
.rangeInput,
.playbackDuration {
  display: inline-block;
}

.rangeInput {
  width: 300px;
}

.extraControls {
  text-align: right;
}

.rangeInput,
.volumeRange {
  height: 8px;
  overflow-y: hidden;
}